body{
    margin: 0px;
    padding: 0px;
   background: rgb(85,94,151);
}
.box{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 12vh 40vh 12vh;
}
header{
  background: rgb(85,94,151);
  height: 150px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  color: white;
  margin-top: 5px;
  font-family: calibri;
  font-size: 125%;
}
main{
  background: rgb(85,94,151);
  height: 120%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 10px;
}
footer{
  background: rgb(85,94,151);
  height: 55px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-right:30px;
  margin-top: 20px;
}
 img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 60%;
    width: 35%;
  }
  p{
  color:rgb(253,253,253);
  font-family:calibri;
  font-size:1.25em;
  text-align: right;
   }
  .flex-container{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background-color: rgb(235, 73, 1);
    width: auto;
    height: 25vh;
  }
  .flex-container > div {
    background-color: white;
    margin: 25px;
    padding: 40px;
    width: 15%;
    box-sizing: border-box;
    font-size: 1.850em;
    text-align: center;
    color: rgb(235,73,1);
    font-family: calibri;
    
  }
  .container{
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    width: auto;
    height: 15vh;
  }
  #tbutton {
  background: rgb(235, 73, 1);
  margin-top: 35px;
  color: white;
  height: 30px;
}
#tmail{
  height: 25px;
}
p.welcome{
  color: white;
  font-family: calibri;
}